<h1>
        <%= vars[:title] %>
</h1>
    
<% vars[:instructions].each do |sentence| %>
    <p><%= sentence %></p>
<% end %>

<% vars[:hints].each do |hint| %>
    <p><%= hint %></p>
<% end %>

<p><%= vars[:example][0] %></p>
<p>
    <%= vars[:example][1] %>
    <font color='red'>
        <%= vars[:example][2] %>
    </font>
    <font color='green'>
        <%= vars[:example][3] %>
    </font>
    <font color='red'>
        <%= vars[:example][4] %>
    </font>
    <font color='blue'>
        <%= vars[:example][5] %>
    </font>
</p>

<form action='/play'>
    <input type='submit' value="Play against AI">
    <input type='submit' formaction='/against_ai' value='Ai plays against you'>
</form
